{% extends 'base.html' %}

{% block title %}PyShop - Products{% endblock %}

{% block loginstatus %}
    {% if user.is_authenticated %}
        {{ user.username }} Logged in
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        User not Logged in
    {% endif %}
{% endblock %}


{% block content %}
<h1>Products</h1>
<div class="row">

    {% if user.is_authenticated %}        

        {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">$ {{ product.price }}</p>
                    <a href="#" class="btn btn-primary">Add to Card</a>
                </div>
            </div>
        </div>
    {% endfor %}

   {% else %}
    <p>You are not logged in</p>
    <!-- 'login' is a name of an URL pattern within the built-in app 'django.contrib.auth.urls' -->
    <a href="{% url 'login' %}">Log In</a>
   {% endif %}
   
</div>
{% endblock %}